<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/global.css">
    <script src="../assets/lib/escapeHTML.js"></script>
    %%SCRIPT_PLACEHOLDER%%
    <title>%%DOCUMENT_TITLE%%</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha512-+NqPlbbtM1QqiK8ZAo4Yrj2c4lNQoGv8P79DPtKzj++l5jnN39rHA/xsqn8zE9l0uSoxaCdrOgFs6yjyfbBxSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"> </script>

</head>
<body>
    <nav>
        <a href="/">
            <img class="logo-image" src="../assets/logo.png" alt="logo">
        </a>
        <a href="/cv">CV</a>    
        <a href="/projects">Projects</a>    
        <a href="/contact">Contact</a>
    </nav>

    <main>

